<?xml version="1.0"?>
<robot name="turtlebot" xmlns:xacro="http://ros.org/wiki/xacro">

  <!-- <xacro:include filename="$(find skuba_athome_description)/urdf/angus_common_library.urdf.xacro"/>
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find skuba_athome_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find skuba_athome_description)/urdf/sensors/rplidar.urdf.xacro"/>
  <xacro:include filename="$(find skuba_athome_description)/urdf/sensors/angus_d415.urdf.xacro" />
  
  <xacro:kobuki/>
  <xacro:stack_hexagons parent="base_link"/>


-->
  <xacro:include filename="$(find skuba_athome_description)/urdf/angus_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find assem_description)/urdf/assem.xacro"/>
  <xacro:include filename="$(find assem_description)/urdf/lidar.urdf.xacro"/>

  <xacro:kobuki/>
  <xacro:angus_body/>  
  <joint name="body_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.0 0.0 0.170"/>
    <parent link="base_link"/>
    <child link="body_link"/>
  </joint>

  <xacro:rplidar name='rplidar' parent="base_link" ros_topic="scan" update_rate="5" ray_count="1040" min_angle="0" max_angle="360">
    <origin xyz="0.0 0.0 0.110" rpy="0 0 3.14"/>
  </xacro:rplidar>

</robot>
