<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-1-g15f4949  Build Version: 1.6.7594.29634
    For more information, please see http://wiki.ros.org/sw_urdf_exporter -->

<robot name="arm" xmlns:xacro="http://ros.org/wiki/xacro">
  <link name="plate_top_link_1" />
  <joint
    name="arm_base_joint"
    type="fixed">
    <origin
      xyz="0.11 0 0"
      rpy="0 0 0" />
    <parent
      link="plate_top_link_1" />
    <child
      link="arm_base_link" />
  </joint>
<joint
  name="arm_link_3_arm_link_4"
  type="fixed">
  <origin
    xyz="0 -0.19852 0"
    rpy="3.1416 0 -1.5708" />
  <parent
    link="arm_link_3" />
  <child
    link="arm_link_4" />
  <axis
    xyz="0 0 0" />
  <limit
    lower="-3.14"
    upper="3.14"
    effort="0"
    velocity="0" />
</joint>
<link name="arm_link_4"></link>
<link
  name="arm_base_link">
  <inertial>
    <origin
      xyz="-0.03212282198 -0.42012512735 0.42806654755"
      rpy="0 0 0" />
    <mass
      value="0.186163368805018" />
    <inertia
      ixx="0.00012911430163569"
      ixy="6.51866525966857E-10"
      ixz="4.04912675311546E-10"
      iyy="0.000270182092432814"
      iyz="3.35442702197418E-07"
      izz="0.000167882757488322" />
  </inertial>
  <visual>
    <origin
      xyz="0.03237 -0.0645 0.375"
      rpy="0 0 -1.5708" />
    <geometry>
      <mesh
        filename="package://skuba_edu_description/meshes/arm/arm_base_link.STL" />
    </geometry>
    <material
      name="">
      <color
        rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0.03237 -0.0645 0.375"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://skuba_edu_description/meshes/arm/arm_base_link.STL" />
    </geometry>
  </collision>
</link>
<link
  name="arm_link_1">
  <inertial>
    <origin
      xyz="6.15184211939929E-05 -0.0325958294491363 -0.000169492133248482"
      rpy="0 0 0" />
    <mass
      value="0.0863559618404855" />
    <inertia
      ixx="3.18738615082819E-05"
      ixy="-1.73028253968493E-07"
      ixz="-2.12738742921425E-09"
      iyy="2.21589667428724E-05"
      iyz="9.73665351283212E-09"
      izz="3.96350749701624E-05" />
  </inertial>
  <visual>
    <origin
      xyz="0 0 0.073"
      rpy="1.5708 0 1.5708" />
    <geometry>
      <mesh
        filename="package://skuba_edu_description/meshes/arm/arm_link_1.STL" />
    </geometry>
    <material
      name="">
      <color
        rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://skuba_edu_description/meshes/arm/arm_link_1.STL" />
    </geometry>
  </collision>
</link>
<joint
  name="arm_base_link_link_1"
  type="fixed">
  <origin
    xyz="0 0 0.055"
    rpy="0 0 0" />
  <parent
    link="arm_base_link" />
  <child
    link="arm_link_1" />
  <axis
    xyz="0 0 1" />
  <limit
    lower="-3.14"
    upper="3.14"
    effort="0"
    velocity="0" />
</joint>
<link
  name="arm_link_2">
  <inertial>
    <origin
      xyz="0.000203280213561932 -0.193086411594665 0.00531640363050518"
      rpy="0 0 0" />
    <mass
      value="0.203789418700687" />
    <inertia
      ixx="0.000190742524201691"
      ixy="3.60636681187183E-09"
      ixz="-1.81324565296997E-07"
      iyy="6.95147446909765E-05"
      iyz="-2.5389805639446E-09"
      izz="0.000191867605418963" />
  </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://skuba_edu_description/meshes/arm/arm_link_2.STL" />
    </geometry>
    <material
      name="">
      <color
        rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://skuba_edu_description/meshes/arm/arm_link_2.STL" />
    </geometry>
  </collision>
</link>
<joint
  name="arm_link_1_arm_link_2"
  type="fixed">
  <origin
    xyz="0 0 0.058"
    rpy="-1.5708 0 -1.5708" />
  <parent
    link="arm_link_1" />
  <child
    link="arm_link_2" />
  <axis
    xyz="-1 0 0" />
  <limit
    lower="-1.97728351"
    upper="1.96"
    effort="0"
    velocity="0" />
</joint>
<link
  name="arm_link_3">
  <inertial>
    <origin
      xyz="0.000251076986040322 -0.134949597462582 7.19713697072465E-05"
      rpy="0 0 0" />
    <mass
      value="0.172390710019942" />
    <inertia
      ixx="5.70915688480554E-05"
      ixy="8.63831723211208E-09"
      ixz="2.70858587460573E-08"
      iyy="4.10041759288329E-05"
      iyz="3.6456768903629E-07"
      izz="6.06950558357656E-05" />
  </inertial>
  <visual>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://skuba_edu_description/meshes/arm/arm_link_3.STL" />
    </geometry>
    <material
      name="">
      <color
        rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
    </material>
  </visual>
  <collision>
    <origin
      xyz="0 0 0"
      rpy="0 0 0" />
    <geometry>
      <mesh
        filename="package://skuba_edu_description/meshes/arm/arm_link_3.STL" />
    </geometry>
  </collision>
</link>
<joint
  name="arm_link_2_arm_link_3"
  type="fixed">
  <origin
    xyz="0.0001861 -0.26323 0.029054"
    rpy="-1.5637 0.006405 0" />
  <parent
    link="arm_link_2" />
  <child
    link="arm_link_3" />
  <axis
    xyz="1 0 0" />
  <limit
    lower="-1.495"
    upper="1.7150"
    effort="0"
    velocity="0" />
</joint>
</robot>
